.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header-filter:after {
  background: rgba(132, 13, 121, 0.88);
  background: linear-gradient(
    45deg,
    rgba(132, 13, 121, 0.88) 0%,
    rgba(208, 44, 180, 0.31) 100%
  );
  background: -moz-linear-gradient(
    135deg,
    rgba(132, 13, 121, 0.88) 0%,
    rgba(208, 44, 180, 0.31) 100%
  );
  background: -webkit-linear-gradient(
    135deg,
    rgba(132, 13, 121, 0.88) 0%,
    rgba(208, 44, 180, 0.31) 100%
  );
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
